html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	color: #545454;
	font-size: 16px;
}
a:link {
	text-decoration: none;
	font-weight: bold;
	color: #545454;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: black;
}
.section {
	padding: 200px;
	padding: 0;
	margin: 30px 0;
}
.padLeft {
	margin-left: 46px;
}
.text {
	line-height: 30px;
}
.sectionHeader h1 {
	margin: 0 0 15px 0;
}
.sectionInner {
	max-width: 950px;
	overflow: auto;
}
#footer {
	margin: 75px 0 0 0;
	padding: 0;
	text-align: center;
	max-width: 100%;
	line-height: 30px;
	font-weight: bold;
}
.contact input {
	height: 30px;
	margin: 10px 0 10px 0;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #545454;
	padding-left: 3px;
	width: 80%;
}
.contact textarea {
	resize: none;
	margin: 10px 0 10px 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #545454;
	padding-left: 3px;
	width:80%;
}
#topBar {
	text-align: center;
	background-image: url("/images/header.png");
	margin-top: 0;
}
h3.event{
	margin-bottom: 0px;
}
#governance_contact {
	background-image: url("/images/governancebg.jpg");
	padding: 30px 0 30px 0;
}
#topBar img {
	padding: 100px 0;
}
#nextHop {
	font-size: 80px;
	font-weight: bolder;
	display: inline-block;
	margin: 30px 0 30px 0;
}
