html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	color: #545454;
	font-size: 16px;
}
a:link {
	text-decoration: none;
	font-weight: bold;
	color: #545454;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: black;
}
.section {
	padding: 200px;
	padding: 0;
	margin: 30px 0;
}
.padLeft {
	margin-left: 46px;
}
.text {
	line-height: 30px;
}
.sectionHeader h1 {
	margin: 0 0 15px 0;
}
.sectionInner {
	margin: 0 auto;
	max-width: 950px;
	overflow: auto;
}
#footer {
	margin: 175px 0 0 0;
	padding: 0;
	text-align: center;
	max-width: 100%;
	line-height: 30px;
	font-weight: bold;
}
.contact input {
	height: 30px;
	margin: 10px 0 10px 0;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #545454;
	padding-left: 3px;
	width: 80%;
}
.contact textarea {
	resize: none;
	margin: 10px 0 10px 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #545454;
	padding-left: 3px;
	width:80%;
}
#topBar {
	text-align: center;
	background-image: url("http://imgur.com/syudJMa.png");
	margin-top: 0;
}
h3.event{
	margin-bottom: 0px;
}
#governance_contact {
	background-image: url("http://imgur.com/PIJWrEi.jpg");
	padding: 30px 0 30px 0;
}
#topBar img {
	padding: 100px 0;
}
#nextHop {
	font-size: 80px;
	font-weight: bolder;
	display: inline-block;
	margin: 30px 0 30px 0;
}
@media (min-width:950px) {
	#nextHop {
		display:none;
	}
	.gov_contactText {
		background-color: white;
		padding: 15px;
		border-radius: 30px;
		overflow: auto;
	}
	.fiftyFloat {
		float: left;
		width: 50%;
	}
	div.event {
		width: 45%;
		float: left;
		margin-left: 5%;
	}
}
@media (max-width:950px) {
	.sectionInner {
		margin: 0 50px;
		max-width: 1000px;
	}
	.padLeft {
		margin: 0;
	}
	#topBar img {
		display: none;
	}
	.fiftyFloat {
		float:none;
		background-color: white;
		padding: 15px;
		border-radius: 30px;
		overflow: auto;
	}
	.fiftyFloat:nth-child(1){
		margin-bottom:15px;
	}
	.fiftyFloat:nth-child(2){
		margin-top:15px;
	}
	div.event {
		float:none;
		width:100%;
	}
}